export(calcArea)
export(calcAreaLim)
export(cor2df)
export(cor2df.fire)
export(cordf)
export(dependent)
export(evaltext)
export(filename)
export(fill.1.na)
export(formulae)
export(formulae2)
export(getArgs)
export(glm.pseudoabsence)
export(independents)
export(kfold.seq)
export(maxent.formula)
export(mirror.na)
export(plotOverview)
export(rescale01)
export(vpd)
export(without.na)
import(reshape2)
import(zoo)
