export(calcArea)
export(calcAreaLim)
export(cor2df)
export(cor2df.fire)
export(cordf)
export(dependents)
export(evaltext)
export(formulae)
export(formulae2)
export(getNonNADataFromFormula)
export(glm.pseudoabsence)
export(independents)
export(maxent.formula)
export(rescale01)
import(reshape2)
